@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root{
    --background-color:#8e806e;
    --bg-color:#ffffff30;
    --selected-color:#ffffff66;
    --main-text-color:#ffffff;
    --note-color-0:#E07A5F;
    --note-color-1:#F2CC8F;
    --note-color-2:#81B29A;
    --note-color-3:#3D405B;
    --add-note-color:#e6b463;
    --sunday-color:#d4432c;
}
body{ 
    display: flex;
    position:absolute;
    background-color: var(--background-color);
    user-select: none;
    margin: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 95%;
    justify-content: center;
}
#main_part{
    display: flex;
    width: 70%;
    aspect-ratio: 3/2;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    padding-bottom: 6px;
}
.row, #month{
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
    font-weight: bold;
}
.row{ height: 16.67%; }
#month{
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: row;
}
#month_name{
    font-size: 2vw;
    text-align: center;
}
#month_back, #month_next{ 
    padding: 0.5vw 2vw; 
    font-size: 2vw;
    cursor:pointer;
    color:var(--sunday-color)
}
#calendar_grid{ 
    width: 100%; 
    height: 100%;
}
#table{
    background-color: var(--bg-color);
    border: var(--main-text-color) 4px solid;
    border-radius: 10px;
    width: 97%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1.3px var(--main-text-color);
}
.cell{
    display: flex;
    width: 100%;
    border: var(--main-text-color) 0.5px solid;
    flex-direction: column;
}
.number{
    margin-left: 5px;
    font-size: 3vw;
}
aside{
    display: flex;
    min-width: 120px;
    width: 25%;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
}
#notes_container{
    display: flex;
    padding: 5px;
    background-color: var(--bg-color);
    height: 100%;
    max-height: calc(75vh - 70px - 4.5em);
    border: var(--main-text-color) 5px solid;
    border-radius: 10px;
    margin-top: 3.4vw;
    flex-direction: column;
    color: var(--main-text-color);
}
#note_adder{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    height: 20vh;
    margin-top: 15px;
    border: var(--main-text-color) 5px solid;
    border-radius: 10px;
    padding: 10px 5px;
    justify-content: space-around;
}
#selected_date_name{
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: -3px;
}
#notes_list{
    overflow-y: scroll;
    height: 100%;
}
#new_note_content{
    font-size: 1.2vw;
    background-color: var(--bg-color);
    border: none;
    color: var(--main-text-color);
    text-decoration: underline;
    width: 80%;
    margin-left: 5px;
}
::placeholder{
    color: var(--main-text-color);
    text-decoration: underline;
}
#dots_container, #new_note{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: fit-content;
}
#new_note{ 
    height: 15vh;
    margin-top: 7px; 
}
.one_note{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 15px;
    font-size: 1vw;
    margin-left:0.3vw;
    margin-bottom:0.3vw;
}
#notes_list::-webkit-scrollbar {
    display: none;
}
#notes_list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.one_note_content{ 
    margin-left: 10px; 
    width:100%;
}
.dot{
    border: var(--main-text-color) 2px solid;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    aspect-ratio: 1;
}
#dot0, #dot1, #dot2, #dot3{ cursor: pointer; }
.color0{ background-color: var(--note-color-0); }
.color1{ background-color: var(--note-color-1); }
.color2{ background-color: var(--note-color-2); }
.color3{ background-color: var(--note-color-3); }
#add_note_btn{
    color: var(--main-text-color);
    font-size: 1.5vw;
    padding: 2px 5px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    background-color: var(--add-note-color);
    border: var(--main-text-color) 4px solid;
    border-radius: 30px;
}
#add_note_btn:hover{
    background-color: var(--note-color-1);
    cursor: pointer;
}
.markers{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-left: 0.4vw;
}
.marker{ 
    display: none; 
    margin-left:0.2vw; 
}
.remove_note_btn{ 
    display: none;
    color:var(--sunday-color);
    cursor:pointer;
}
.btn{
    border:none;
    cursor: pointer;
    font-size: 3vw;
    padding: 0;
    margin:0;
    display: block;
    position: fixed;
    right: 2vw;
    top: 0.7vw;
    background-color: transparent;
    color: var(--main-text-color);
    z-index: 1;
}
#settings_over{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 2;
}
.settings{
    padding:1vw 30vw;
    text-align: center;
    margin-top:5vh;
    display:flex;
    flex-direction: column;
}
.choose_theme{
    color:var(--main-text-color);
}
#export_btn, .theme{
    border:var(--main-text-color) 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1vw;
    padding: 5px;
    margin:0.5vw 0;
    background-color: transparent;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    width: 35vw;
}
.themes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    justify-content: center;
}
#export_btn{
    margin-top:8vh;
    width: 100%;
}
@media only screen and (max-width: 900px) {
    #month_name, #month_back,#month_next{
        font-size: 1.4em;
    }
    #selected_date_name{
        font-size: 2.5vw;
    }
    .one_note{
        font-size: 0.8em;
    }
    #add_note_btn{
        font-size: 0.8em;
    }
    #new_note_content{
        font-size: 1.5vw;
    }
    #dot0,#dot1,#dot2,#dot3{
        height: 1.5vw;
        width: 1.5vw;
    }
    #selected_dot{
        height:1.5vw;
        width: 1.5vw;
    }
    .btn{
        font-size: 2em;
        top:0.2vh;
    }
    #export_btn, .theme{
        font-size: 2vw;
        margin:1vw 0;
    }
    #export_btn{
        margin-top:20vh;
    }
    .settings{
        padding:1vw 15vw;
    }
    #note_adder{
        height: 30vh;
    }
    #notes_container{
        margin-top:6vw;
    }
}
@media only screen and (orientation:portrait) {
main{
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#notes_container{
    margin-top: 20px;
    max-height: calc(74vw - 70px - 4em);
}
#main_part{
    width: 94%;
    margin-right:0;
    aspect-ratio: 7/6;
}
aside{
    width: 95%;
    height: 50vh;
}
#month_name{
    font-size: 1.3em;
    min-width: 190px;
}
#month_back, #month_next{ 
    font-size: 1.8em;
}
.number{
    font-size: 1em;
}
#selected_date_name{
font-size: 1.2em;
}
.one_note{
    font-size: 1em;
}
#add_note_btn{
    font-size: 1.4em;
}
#new_note_content{
    font-size: 1.2em;
}
#note_adder{
    height: 15vh;
}
#dot0,#dot1,#dot2,#dot3{
    height: 1.5vw;
    width: 1.5vw;
}
#selected_dot{
    height:0.7em;
    width: 0.7em;
}
.btn{
    font-size: 2em;
    top:0.2vh;
}
#export_btn, .theme{
    width: 100%;
    font-size: 1.2em;
    margin:1vw 0;
}
#export_btn{
    margin-top:20vh;
}
.settings{
    padding:1vw 15vw;
}
}